.projects-banner {
  background-image: url(../../assets/projects-banner.jpg);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}
.projects-heading {
  font-size: 5rem;
  text-align: center;
  color: var(--white);
  z-index: 10;
  position: relative;
  padding: 10px 0px;
}
.projects-banner-content {
  z-index: 10;
  color: var(--white-muted);
  line-height: 1.5rem;
  max-width: 50%;
  text-align: center;
  padding: 20px;
}
.projects-heading:after {
  content: "";
  background-color: var(--white);
  height: 3px;
  width: 30%;
  left: 0;
  bottom: 0;
  position: absolute;
}
.projects {
  display: block;
  text-transform: capitalize;
  margin: 10vh 0px;
}
.projects table {
  margin: 30px auto;
  width: 80%;
  border: 0px;
  border: 1px solid var(--theme);
}
.projects table th,
td,
caption {
  height: 3rem;
}
.projects table,
td,
th,
caption {
  border-collapse: collapse;
  font-size: 17px;
  text-align: center;
}
.projects tr:nth-child(even) {
  background-color: var(--striped);
}
.projects th {
  color: var(--white);
  background-color: var(--theme);
}
.projects caption {
  border-bottom: 0px;
  font-size: 1.3rem;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  .projects table {
    width: 90%;
  }
  .projects table,
  td,
  th,
  caption {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .projects table {
    width: 90%;
    margin-bottom: 20vh;
  }
  .projects table,
  td,
  th,
  caption {
    font-size: 15px;
  }
  .projects-banner-content {
    max-width: 80%;
  }
}
@media (max-width: 576px) {
  .projects table {
    width: 95%;
  }
  .projects table,
  td,
  th,
  caption {
    font-size: 13px;
  }
}
@media (max-width: 365px) {
  .projects table,
  td,
  th,
  caption {
    font-size: 0.8rem;
  }
}
