.heading {
  font-size: 2rem;
  text-align: center;
  color: var(--theme);
  font-weight: bold;
}
.projects {
  display: block;
  text-transform: capitalize;
  margin: 10vh 0px;
}
.projects table {
  margin: 30px auto;
  width: 80%;
  border: 0px;
}
.projects table th,
td,
caption {
  height: 3rem;
}
.projects table,
td,
th,
caption {
  border-collapse: collapse;
  font-size: 17px;
  text-align: center;
}
.projects tr:nth-child(even) {
  background-color: var(--light-white);
}
.projects th {
  color: var(--light-white);
  background-color: var(--dark);
}
.projects caption {
  background-color: var(--silver-sand);
  border-bottom: 0px;
  font-size: 1.3rem;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  .projects table {
    width: 90%;
  }
  .heading {
    font-size: 1.8rem;
  }
  .projects table,
  td,
  th,
  caption {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 1.6rem;
  }
  .projects table {
    width: 90%;
    margin-bottom: 20vh;
  }
  .projects table,
  td,
  th,
  caption {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .heading {
    font-size: 1.4rem;
  }
  .projects table {
    width: 95%;
  }
  .projects table,
  td,
  th,
  caption {
    font-size: 13px;
  }
}
@media (max-width: 365px) {
  table th,
  td {
    height: 70px;
  }
  .heading {
    font-size: 1.2rem;
  }
  .projects table,
  td,
  th,
  caption {
    font-size: 0.8rem;
  }
}
