.syllabus-banner {
  background-image: url(../../assets/Syllabus-banner.jpg);
  background-size: cover;
  background-position: center center;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.syllabus-banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}
.syllabus-banner-headline {
  position: relative;
  padding: 20px 0px;
  color: var(--white);
  font-size: 5rem;
  z-index: 1;
}
.syllabus-banner-headline:after {
  content: "";
  background-color: var(--white);
  height: 3px;
  width: 30%;
  left: 0;
  bottom: 0;
  position: absolute;
}
.syllabus-banner-content {
  color: var(--white-muted);
  margin: 20px;
  max-width: 50%;
  z-index: 1;
}
.subjects table,
td,
tr,
th {
  border-collapse: collapse;
  height: 1rem;
  text-align: center;
  font-size: 1rem;
}
.subjects table th {
  width: 5%;
}
.subjects table {
  border: 1px solid var(--theme);
  width: 90%;
  margin: 50px auto;
}
th {
  background-color: var(--theme);
  color: var(--white);
}
tr:nth-child(even) {
  background-color: var(--striped);
  border: 1px solid grey;
}

@media (max-width: 768px) {
  table {
    width: 95%;
  }
  .subjects table td,
  th,
  tr {
    height: 70px;
  }
  table thead tr,
  th {
    font-size: 15px;
  }
  h2 {
    font-size: 18px;
  }
  table tbody td {
    font-size: 14px;
  }
  .syllabus-banner-content {
    max-width: 80%;
  }
}
