* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --time: 0.4s;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url(../Images/beachPhoto.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.burger-description {
    position: fixed;
    left: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
    z-index: 1;
}
.burger-content {
    position: absolute;
    min-width: 25px;
    height: 2.3px;
    background-color: aliceblue;
    border-radius: 1px;
    transition: background-color var(--time) ease-in,
        transform var(--time) ease-in;
}
.burger-content.burger-open {
    transform: translateX(-5px);
    height: 2.3px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color var(--time) ease-in,
        transform var(--time) ease-in;
}
.burger-content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.3px;
    background-color: white;
    border-radius: 1px;
    transform: translateY(-10px);
    transition: transform var(--time) ease-in;
}
.burger-content.burger-open::before {
    height: 2.3px;
    background-color: white;
    border-radius: 1px;
    transform: translateX(5px) rotate(45deg);
    transition: transform var(--time) ease-in;
}
.burger-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.3px;
    background-color: white;
    transform: translateY(10px);
    border-radius: 1px;
    transition: transform var(--time) ease-in;
}
.burger-content.burger-open::after {
    background-color: white;
    border-radius: 1px;
    transform: translateX(5px) rotate(-45deg);
    transition: transform var(--time) ease-in;
}

.text-container {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5vh;
    width: auto;
    justify-content: center;
    text-transform: capitalize;
    border-radius: 15px;
    flex-wrap: wrap;
}
#typing-text {
    font-size: 28px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
}
.blink {
    font-size: 36px;
    font-weight: lighter;
    color: aliceblue;
    animation: blink-Fade 0.2s ease infinite alternate;
}
@keyframes blink-Fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.header-icons {
    display: none;
}
.header-icons button {
    position: absolute;
    top: 1.2vh;
    left: 88vw;
    font-size: 25px;
    width: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.705);
    border-color: rgba(255, 255, 255, 0.322);
}
.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: row;
}
.navitems {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: #cbbde2;
    font-size: 16px;
    justify-content: space-evenly;
}
.links {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.links.links-down {
    opacity: 1;
    pointer-events: auto;
    clip-path: circle(100%);
    transition: clip-path 0.6s linear, opacity 0.6s ease;
}
.items-move {
    transform: translateX(0px) !important;
    transition: transform 0.6s ease;
}
.navbar ul i {
    font-size: 25px;
}
.navitems:hover {
    color: #dee4e7;
    cursor: pointer;
}
.activeLink {
    color: #fff;
    cursor: pointer;
}
.navitems:after {
    content: '';
    transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
    width: 0px;
    border: 1.5px solid whitesmoke;
    border-radius: 1.3px;
    position: relative;
    visibility: hidden;
    margin-top: 6px;
}
.navitems:hover:after {
    width: 100%;
    visibility: visible;
}
iframe {
    background-color: transparent;
    display: block;
    margin: 50px auto;
    width: 95vw;
    height: 750px;
    border-radius: 20px;
}
#copyright {
    margin-bottom: 10px;
}
.footer {
    font-size: 17px;
    text-align: center;
}
#footer-statement {
    margin-bottom: 20px;
}
@media (max-width: 890px) {
    .text-container {
        width: 90%;
    }
    #typing-text {
        font-size: 19px;
    }
    footer {
        font-size: 16px;
    }
}
@media (max-width: 800px) {
    .text-container {
        width: 90%;
    }
    #typing-text {
        font-size: 24px;
    }
    .navitems {
        font-size: 14px;
    }
    .footer {
        font-size: 15px;
    }
}
@media (max-width: 600px) {
    .text-container {
        width: 90%;
    }
    #typing-text {
        font-size: 21px;
    }
    .navitems {
        font-size: 12px;
    }
    .footer {
        font-size: 14px;
    }
}
@media screen and (max-width: 550px) {
    .header-icons:first-child {
        display: flex;
        height: 50px;
        align-items: center;
    }
    .links {
        background-color: #343a40a6;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        top: 0px;
        position: fixed;
        padding-top: 20px;
        pointer-events: none;
        opacity: 0;
        clip-path: circle(0% at 100vw 0vh);
        transition: clip-path 0.6s ease, opacity 0.6s ease;
    }
    .links ul a {
        transform: translateX(-100px);
        transition: transform 0.3s linear;
    }
    .text-container {
        width: auto;
        text-align: justify;
        overflow: hidden;
    }
    #typing-text {
        font-size: 18px;
        overflow-x: hidden;
    }
    .navbar {
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .navitems {
        font-size: 16px;
    }
    .header-icons {
        display: block;
    }
    footer {
        font-size: 13px;
    }
}
@media (max-width: 365px) {
    .text-container {
        width: auto;
        overflow: hidden;
    }
    #typing-text {
        font-size: 15px;
        overflow: hidden;
    }
    .blink {
        font-size: 30px;
        transform: translateY(1px);
    }
    .footer {
        font-size: 12px;
    }
}
