*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto slab;
}
html{
    scroll-behavior : smooth;
}
body{
    /* background-image:linear-gradient(to bottom,#b3cde0, #6497b1); */
    /* background-image: radial-gradient(ellipse at center, #b3cde0,#6497b1); */
    background-image: radial-gradient(ellipse at center,#155592, #1c7ed6);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    display: none;
}
.header button{
    position: absolute;
    top:4vh;
    left: 90vw;
    font-size: 25px;
    width: 30px;
    background-color:transparent;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 3px;
}
.navbar{
    display: flex;
    margin-top: 15px;
    justify-content: space-around ;
    align-items: center;
    flex-wrap: row;
}
.navitems{
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: rgb(192, 222, 229);
    font-size:16px;
    justify-content: space-evenly;
    /* transition: display .5s ease-in-out; */
}
.navbar ul i{
    font-size: 30px;
}
.navitems:hover{
    color: #DEE4E7;
    cursor: pointer;
}
.activeLink{
    color: #fff;
    cursor: pointer;
}
.navitems:after{
    content: "";
    transition: width .3s ease-in-out, visibility .3s ease-in-out;
    width: 0px;
    border: 1.5px solid whitesmoke;
    border-radius: 1.3px;
    position: relative;
    visibility: hidden;
    margin-top:6px;
}
.navitems:hover:after{
    width: 100%;
    visibility: visible;
}
iframe{
    background-color: whitesmoke;
    display: block;
    margin: 50px auto;
    width: 95vw;
    height: 750px;
    border: 2px solid black;
    border-radius: 20px;
} 
@media (max-width: 800px){
    .navitems{
        font-size: 14px;
    }
}
@media (max-width: 600px){
.navitems{
    font-size: 12px;
}
}
@media (max-width:550px){
    .navbar{
        flex-direction: column;
    }
    .navitems{
        height: 70px;
        font-size: 16px;
    }
    .header{
        display: block;
    }
}
