*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    color: black;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heading{
    margin: 50px auto;
    width:40%;
}
#transition-text{
    display: flex;
    flex-direction: column;
    margin: auto;
    line-height: 60px;
    letter-spacing: 0px;
}
#transition-text::before{ 
    content: "";
    width: 0%;
    border-top: 2.3px solid black;
    border-radius: 20px;
    position: absolute;
    margin-bottom: 50px;
    right:0px;
    animation: effects 2s ease-in-out infinite alternate;
}
#transition-text::after{
    animation: effects 2s ease-in-out infinite alternate;
    content: "";
    width: 0%;
    border-top: 2.3px solid black;
    border-radius: 20px;
    position: relative;
    left:0px;
}
@keyframes effects{
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}
.projects{
    display: block;
    text-transform: capitalize;
}
.projects table{
    margin: 30px auto;
    width: 70%;
    border: 0px;
}
.projects table th,td,caption{
    height: 55px;
}
.projects table,td,th,caption{
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 17px;
    text-align: center;
}
.projects tr:nth-child(even){
    background-color: mediumturquoise;
}
.projects th{
    background-color: lightseagreen;
}
.projects caption{
    background-color: cyan;
    border-bottom: 0px;
    text-transform: capitalize;
}
@media (max-width: 880px){
    .projects table{
        width: 80%;
    }
    .heading{
        font-size: 25px;
    }
    #spacing{
        font-size: 20px;
    }
    .projects table,td,th,caption{
        font-size: 15px;
    }
}
@media (max-width: 680px){
    table th,td {
        height: 50px;
    }
    .projects table{
        width: 85%;
    }
    .heading{
        font-size: 18px;
    }
    #spacing{
        font-size: 16px;
        line-height: 30px;
    }
    .projects table,td,th,caption{
        font-size: 14px;
    }
}
@media (max-width: 560px){
    table th,td {
        height: 60px;
    }
    .projects table{
        width: 80%;
    }
    .heading{
        font-size: 15px;
    }
    #spacing{
        font-size: 15px;
        line-height: 30px;
    }
    .projects table,td,th,caption{
        font-size: 13px;
    }
}
@media (max-width: 450px){
    table th,td {
        height: 70px;
    }
    .projects table{
        width: 90%;
    }
    .heading{
        font-size: 14px;
    }
    #spacing{
        font-size: 14px;
        line-height: 30px;
    }
    .projects table,td,th,caption{
        font-size: 12px;
    }
}