*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:Roboto slab;
    text-transform: capitalize;
    font-weight: normal;
    color: black;
}
body{
    /* background-image: linear-gradient(to bottom, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
    background-image: radial-gradient(ellipse at center,#4facfe,#00f2fe);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#spacing{
    display: flex;
    flex-direction: column;
    margin: auto;
    line-height: 60px;
    letter-spacing: 3px;
}
#spacing::before{ 
    content: "";
    width: 0%;
    border-top: 2.3px solid whitesmoke;
    border-radius: 20px;
    position: absolute;
    margin-bottom: 50px;
    right:0px;
    animation: effects 2s ease-in-out infinite alternate;
}
#spacing::after{
    animation: effects 2s ease-in-out infinite alternate;
    content: "";
    width: 0%;
    border-top: 2.3px solid whitesmoke;
    border-radius: 20px;
    position: relative;
    left:0px;
}
@keyframes effects{
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}
.projects{
    display: block;
    margin: 100px 0px;
    text-transform: capitalize;
}
.projects table{
    margin: auto;
    width: 70%;
    border: 0px;
}
.projects table,td,th,caption{
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
    height: 40px;
}
.projects tr:nth-child(even){
    background-color: mediumturquoise;
}
.projects th{
    background-color: lightseagreen;
}
.projects caption{
    background-color: cyan;
    border-bottom: 0;
    text-transform: capitalize;
}
@media (max-width: 880px){
    .heading{
        font-size: 25px;
    }
    #spacing{
        font-size: 20px;
    }
    .projects table,td,th,caption{
        font-size: 14px;
    }
}
@media (max-width: 580px){
    .heading{
        font-size: 18px;
    }
    #spacing{
        font-size: 16px;
        line-height: 30px;
    }
    .projects table,td,th,caption{
        font-size: 12px;
    }
}
@media (max-width: 400px){
    .heading{
        font-size: 15px;
    }
    #spacing{
        font-size: 14px;
        line-height: 30px;
    }
    .projects table,td,th,caption{
        font-size: 10px;
    }
}