* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --time: 0.5s;
  --dark: #4a4a4a;
  --light-dark: #9e9b9b;
  --grey: #c0b7bd;
  --white: #f1f7f8;
  --white-hover: #ece8e8;
  --light-white: #cbc9ce;
  --theme: #4608ad;
  --theme-opaque: #4608ad;
  --theme-hover: #661eda;
  --nav-theme: #543a7e;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url("./assets/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.burger-description {
  display: none;
  position: absolute;
  left: 40vw;
  border-radius: 0.5px;
  z-index: 5;
  cursor: pointer;
  height: 25px;
}
.burger-content {
  position: relative;
  top: 10px;
  left: 0;
  min-width: 30px;
  height: 2px;
  background-color: var(--dark);
  border-radius: 0.5px;
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-content.burger-open {
  transform: translateX(-5px);
  height: 2px;
  background-color: transparent;
  border-radius: 0.5px;
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: var(--dark);
  border-radius: inherit;
  transform: translateY(-10px);
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-content.burger-open::before {
  height: inherit;
  background-color: var(--white);
  border-radius: inherit;
  transform: translateX(5px) rotate(45deg);
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: var(--dark);
  transform: translateY(10px);
  border-radius: inherit;
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-content.burger-open::after {
  background-color: var(--white);
  border-radius: inherit;
  transform: translateX(5px) rotate(-45deg);
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.nav-icons {
  padding: 0.5rem;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
.nav-links a {
  display: flex;
  flex-direction: column;
  color: inherit;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  justify-content: space-evenly;
  padding: 0.8rem;
  transition: color 0.2s ease-in-out;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nav-theme);
}
.nav-links.nav-links-down {
  display: flex;
  width: 50%;
  pointer-events: auto;
  transition: right 0.3s ease-in-out;
  right: 0;
}
.active-navlinks {
  position: relative;
  color: var(--white) !important;
}

.active-navlinks:after {
  content: "";
  background-color: var(--white);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-links a:hover {
  color: var(--white-hover);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.text-container {
  padding: 0;
  display: block;
  min-width: 50%;
  align-items: center;
  margin: 5vh auto;
  display: flex;
  place-items: center;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 15px;
}
#typing-text {
  font-size: 2rem;
  color: var(--theme);
  white-space: nowrap;
}
#typing-text:before {
  content: "I am a ";
  color: var(--dark);
}
#typing-text:after {
  content: "";
  margin: 5px;
  z-index: -1;
  border: 2px solid var(--theme);
  animation: blink-Fade 0.3s ease-in infinite alternate;
}
@keyframes blink-Fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.youtube a {
  color: var(--white);
  text-decoration: none;
  margin: 20px;
}
iframe {
  display: grid;
  place-items: center;
  background-color: transparent;
  width: 95vw;
  height: 70vh;
  margin: 10vh auto;
}
footer {
  width: 100%;
  background-color: var(--theme);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  color: #eeebeb;
}

@media (max-width: 992px) {
  .text-container {
    width: 90%;
  }
  #typing-text {
    font-size: 2rem;
  }
  footer {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .text-container {
    width: 90%;
  }
  .nav-links a {
    font-size: 1rem;
  }
  footer {
    font-size: 1rem;
  }
  nav {
    justify-content: space-around;
  }
  #typing-text {
    font-size: 1.5rem;
    color: var(--theme);
    white-space: nowrap;
  }
}
@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  #typing-text {
    font-size: 1.2rem;
    color: var(--theme);
    white-space: nowrap;
  }
  .modal {
    transition: all var(--time) ease-in;
  }
  .modal .overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #303031a8;
    left: 0;
    top: 0;
    transition: all var(--time) ease-in;
  }
  .nav-icons:first-child {
    display: flex;
    height: 50px;
    align-items: center;
  }
  .nav-links-collapse {
    width: 50%;
  }
  .nav-links {
    position: absolute;
    background-color: var(--theme-opaque);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10vh;
    width: 50%;
    height: 100vh;
    top: 0;
    right: -50%;
    margin: 0;
    overflow: hidden;
    transition: right var(--time) ease-in-out;
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .nav-links:before {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0px 0px 2000px #ffffff93;
    z-index: -1;
    margin: -20%;
    filter: blur(10px);
  }
  .active-navlinks:after {
    content: "";
    background-color: var(--white);
    height: 2px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-links ul {
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    height: 3.5rem;
  }
  .nav-links ul a {
    overflow: hidden;
    height: 100%;
  }
  .text-container {
    width: auto;
    text-align: justify;
    overflow: hidden;
  }
  nav {
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .nav-links a {
    font-size: 16px;
  }
  .burger-description {
    display: block;
  }
  footer {
    font-size: 0.9rem;
  }
}
@media (max-width: 365px) {
  .text-container {
    width: auto;
    overflow: hidden;
  }
  .footer {
    font-size: 0.8rem;
  }
}
