@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Recursive:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Recursive", sans-serif;
}
:root {
  --time: 0.3s;
  --content: #f0f0f0;
  --white: #fff;
  --white-hover: #ffffffd7;
  --white-muted: #ffffffb2;
  --striped: #cecece;
  --theme: #de535f;
  --theme-hover: #9c1d26;
  --black: #1d1d1f;
  --black-muted: #606066;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--content);
  background-attachment: fixed;
  background-size: cover;
}
.burger-description {
  display: none;
  position: absolute;
  left: 40vw;
  border-radius: 0.5px;
  z-index: 60;
  cursor: pointer;
  height: 25px;
}
.burger-content {
  position: relative;
  top: 10px;
  left: 0;
  min-width: 30px;
  height: 2px;
  background-color: var(--white-muted);
  border-radius: 0.5px;
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-content.burger-open {
  transform: translateX(-5px);
  height: 2px;
  background-color: transparent;
  border-radius: 0.5px;
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-content:before {
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: var(--white-muted);
  border-radius: inherit;
  transform: translateY(-10px);
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-content.burger-open:before {
  height: inherit;
  background-color: var(--white);
  border-radius: inherit;
  transform: translateX(5px) rotate(45deg);
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: var(--white-muted);
  transform: translateY(10px);
  border-radius: inherit;
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-content.burger-open:after {
  background-color: var(--white);
  border-radius: inherit;
  transform: translateX(5px) rotate(-45deg);
  transition: background-color var(--time) ease-in,
    transform var(--time) ease-in;
}
.burger-description:hover .burger-content:not(.burger-open){
  background-color: var(--white-hover);
}
.nav-icons {
  padding: 0 1rem;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
}
.nav-links a {
  display: flex;
  flex-direction: column;
  color: inherit;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  justify-content: space-evenly;
  padding: 1.1rem 0.9rem;
  transition: color 0.2s ease-in-out;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-muted);
}
.nav-links.nav-links-down {
  display: flex;
  width: 50%;
  pointer-events: auto;
  transition: right 0.3s ease-in-out;
  right: 0;
}
.active-navlinks {
  position: relative;
  color: var(--white) !important;
}
.active-navlinks::after {
  content: "";
  background-color: var(--white);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-links a:hover {
  color: var(--white-hover);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.text-container {
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
#typing-text {
  font-size: 2rem;
  color: var(--white);
  z-index: 10;
  text-align: center;
}
#typing-text:before {
  content: "I am a ";
  color: var(--white-muted);
}
#typing-text:after {
  content: "";
  margin: 5px;
  z-index: 5;
  border: 2px solid var(--white);
  animation: blink-Fade 0.3s ease-in infinite alternate;
}
@keyframes blink-Fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.youtube a {
  color: var(--white);
  text-decoration: none;
  margin: 20px;
}
iframe {
  display: grid;
  place-items: center;
  background-color: transparent;
  width: 95vw;
  height: 70vh;
  margin: 10vh auto;
}
footer {
  width: 100%;
  background-color: var(--black);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  color: #eeebeb;
}

#footer-statement {
  text-align: right;
}
@media (max-width: 992px) {
  footer {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  nav {
    justify-content: space-around;
  }
}
@media screen and (max-width: 630px) {
  body {
    overflow-x: hidden;
  }
  .youtube {
    display: flex;
  }

  .modal .overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #1d1d1d7c;
    left: 0;
    top: 0;
    z-index: 40;
    transition: all var(--time) ease-in;
  }

  .nav-icons:first-child {
    display: flex;
    height: 50px;
    align-items: center;
  }
  .nav-links-collapse {
    width: 50%;
  }
  .nav-links {
    position: absolute;
    background-color: var(--black);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10vh;
    width: 50%;
    height: 100vh;
    top: 0;
    right: -50%;
    margin: 0;
    overflow: hidden;
    transition: right var(--time) ease-in-out;
    z-index: 50;
  }

  .active-navlinks:after {
    content: "";
    background-color: var(--white);
    height: 2px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-links ul {
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    height: 3.5rem;
  }
  .nav-links ul a {
    overflow: hidden;
    height: 100%;
  }
  .text-container {
    width: auto;
    text-align: justify;
    overflow: hidden;
  }
  nav {
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .nav-links a {
    font-size: 16px;
  }
  .burger-description {
    display: block;
  }
  footer {
    justify-content: space-around;
    font-size: 0.9rem;
  }
}
@media (max-width: 365px) {
  #typing-text {
    width: 90%;
    font-size: 1.7rem;
    white-space: pre-wrap;
  }
  .text-container {
    width: auto;
    overflow: hidden;
  }
  .footer {
    font-size: 0.8rem;
  }
}
